{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
    },
  "rules": {
     "arrow-body-style": 0,
     "arrow-parens": 0,
     "function-paren-newline": 0,
     "space-in-parens": 0,
     "indent": 0,
     "comma-dangle": ["error", "never"],
     "quotes": 0,
     "semi": 0,
     "no-shadow": 0,
     "no-unused-vars": 0,
     "no-undef": 0,
     "no-console": 0,
     "no-path-concat": 0,
     "prefer-template": 0,
     "import/no-unresolved": 0,
     "import/newline-after-import": 0,
     "object-shorthand": 0,
     "object-curly-newline": 0,
     "consistent-return": 0,
  }
}
