<div class="footer l-box is-center">
  This web app was made with much love and light via some kickass babes: <a href="https://github.com/NoCodingGenius">LaToya Williams</a> and <a href="https://github.com/alexandrawaite">Alex Waite</a>. View the source code: <a href="https://github.com/alexandrawaite/roam">HERE</a>
</div>
<script type="text/javascript" src="/script.js"></script>
</body>

</html>
