<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roam</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div>
      <header>
        <h3>Roam</h3>
        <span>
          <% if (!isLoggedIn) {%>
            <a class="sign-up" href="/signup">Sign Up</a>
            <a class="log-in" href="/login">Log In</a>
          <%} else { %>
            <a class="sign-up" href="/profile/private/<%= user.id %>">Profile</a>
            <a class="log-in" href="/logout">Log Out</a>
          <%}%>
        </span>
      </header>
    </div>
