<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div>
      <header>
        <h3>Roam</h3>
        <span>
          <a class="sign-up">Profile</a>
          <a class="log-in">Log Out</a>
        </span>
      </header>
    </div>
