<%- include ../partials/header.ejs %>
    </div>
    <div>
      <img class="main-image" src="<%= city.image %>">
      <form class="new-post-button" action="/newpost" method="GET">
        <input type="button" name="new_post_button" value="New Post">
      </form>
    </div>
    <div>

    </div>
  </body>
</html>
