<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <div>
      <header>
        <h3>Roam</h3>
        <span>
          <a class="sign-up">Sign Up</a>
          <a class="log-in">Log In</a>
        </span>
      </header>
    </div>
    <div>
      <img class="main-image" src="http://via.placeholder.com/400x150">
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed eleifend metus. Nullam tincidunt neque aliquam augue dignissim sagittis. Sed non commodo eros. Aenean id ullamcorper nisl, eget tincidunt urna. Etiam ullamcorper magna est, sed auctor erat lobortis quis. Nullam viverra, eros eu fringilla mattis, felis sapien consectetur tortor, nec bibendum metus erat sed leo. Nullam tincidunt, mauris eget ornare lacinia, nisi nisi fermentum lacus, in rhoncus dui ligula nec nunc. Maecenas eleifend turpis at nisi semper pharetra. Etiam maximus at arcu eu imperdiet. Curabitur ut placerat massa, eu blandit arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ultrices rhoncus sapien eget molestie. Nullam mattis tortor semper malesuada congue.</p>
    </div>
  </body>
</html>