<%- include ../partials/header.ejs %>
    <h1>Login</h1>
    <form class="login-form" action="/login" method="POST">
      <label>
        <span>Email:</span>
        <input type="email" placeholder="Enter email" name="email" required/>
      </label>
      <br>
      <label>
        <span>Password:</span>
        <input type="password" placeholder="Enter password" name="password" required/>
      </label>
      <br><br>
      <input type="submit" value="Login">
      <span>Not a user? <a href="/signup">Signup!</a></span>
    </form>
  </body>
</html>
