<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Signup</h1>
    <form class="signup-form" action="/signup" method="POST">
      <label>
        <span>Email:</span>
        <input type="email" placeholder="Enter email" name="email" required/>
      </label>
      <label>
        <span>Password:</span>
        <input type="password" placeholder="Enter password" name="password" required/>
      </label>
      <input type="submit" value="Signup">
      <span>Already a user? <a href="/login">Log in!</a></span>
    </form>
  </body>
</html>