<%- include ../partials/header.ejs %>
    <h1>Signup</h1>
    <form class="signup-form" action="/signup" method="POST">
      <label>
        <span>Full Name:</span>
        <input type="full_name" placeholder="First and Last Name" name="full_name" required/>
      </label>
      <br>
      <label>
        <span>Email:</span>
        <input type="email" placeholder="Enter email" name="email" required/>
      </label>
      <br>
      <label>
        <span>Password:</span>
        <input type="password" placeholder="Enter password" name="password" required/>
      </label>
      <br><br>
      <input type="submit" value="Signup">
      <span>Already a user? <a href="/login">Log in!</a></span>
    </form>
  </body>
</html>
