<%- include ../partials/header.ejs %>

  <form class="" action="/signup" method="POST">
      <div>
        <label for="name">Full Name: </label>
        <input id="name" type="text" placeholder="First and Last Name" name="full_name" required/>
      </div>

      <div>
        <label for="email">Email: </label>
        <input id="email" type="email" placeholder="Enter email" name="email" required/>
      </div>

      <div>
        <label for="password">Password: </label>
        <input id="password" type="password" placeholder="Enter password" name="password" required/>
      </div>

      <input type="submit" value="Signup">
      <span>Already a user? <a href="/login">Log in!</a></span>
  </form>

<%- include ../partials/footer.ejs %>
